.root {
    -fx-background-color: #D98944;
    -fx-font-family: 'Roboto';
    -fx-text-fill:  #FFF6ED;
}

/* BUTTONS */
.lightButton {
    -fx-background-color: #FFF6ED;
    -fx-text-fill: #8C5D43;
}
.darkButton {
    -fx-background-color: #8C5D43;
    -fx-text-fill: #FFF6ED;
}
.transparent-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.transparent-button:hover,
.transparent-button:focused,
.transparent-button:pressed {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}



.drop-shadow {
    -fx-stroke: rgba(0, 0, 0, 0);
    -fx-stroke-width: 1;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

.popupBox {
    -fx-background-color: #D98944;
    -fx-font-family: 'Roboto';
    -fx-text-fill:  #FFF6ED;
    -fx-border-radius: 40 40 40 40;
}

.list-view{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
/*Needed for the cells:*/
.list-view .list-cell:even {
    -fx-background-color: transparent;
}
.list-view .list-cell:odd {
    -fx-background-color: transparent;
}
.list-view .list-cell:focused {
    -fx-text-fill: #D98944;
}


.check-box {
    -fx-background-color: transparent;
}
.check-box .box {
    -fx-background-color: transparent;
    -fx-border-color: #8C5D43;
}
.check-box:selected .mark {
    -fx-background-color: #FFF6ED;
}

.check-box:selected .box {
    -fx-background-color: #8C5D43;
}


/*Removes colored background from scrollpanes*/
.scroll-pane > .viewport {
    -fx-background-color: transparent; }
.scroll-pane {
    -fx-background-color: transparent;
}


.taskbox {
    -fx-padding: 40px;
    -fx-background-radius: 40px;
    -fx-background-color: #8C5D43;
}
.taskbox .label {
    -fx-text-fill: #FFF6ED;
    -fx-font-size: 18px;
    font-family: "Roboto", sans-serif;
}

.taskbox .username-label {
    -fx-text-fill: #f8b276;
    -fx-cursor: hand;
}
.taskbox .username-label:hover {
    -fx-text-fill: #f8b276;
    -fx-underline: true;
}

.groupbox {
    -fx-padding: 40px;
    -fx-background-radius: 40px;
    -fx-background-color: #ffcb9f;
}
.groupbox .label {
    -fx-text-fill: #8C5D43;
    -fx-font-size: 18px;
    font-family: "Roboto", sans-serif;
}

/*custom font*/
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}
